<div class="container" [ngClass]="{'fade-in': isFadeIn, 'fade-out': isFadeOut}">
  <div class="year-portfolio">
    <p class="year" *ngFor="let item of portfolioContent.portfolios | orderBy: portfolioContent.portfolios">{{ item.date | date: 'yyy'}}</p>
  </div>
  <div class="content">
    <div class="item-row" *ngFor="let item of portfolioContent.portfolios; let i = index">
      <div class="image-block">
        <iframe *ngIf="toggleImageToVideo(item.media)" width="100%"  height="333" [src]="item.media | safe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
        class="video"></iframe>
        <img *ngIf="!toggleImageToVideo(item.media)" src="{{item.media}}" alt="">
      </div>
      <div class="row-box">
        <div class="items-box" (click)="openPopup(i, item)">
          <p class="title-portfolio" [innerHtml]="item.title"></p>
          <div class="desc-portfolio" [ngClass]="{'description-open': item.isShow}"
               [innerHtml]="item.description">
          </div>
        </div>
        <span class="read-more" *ngIf="!item.isShow" (click)="changeClass(item)">read more...</span>
        <span class="read-less" *ngIf="item.isShow" (click)="changeClass(item)">read less...</span>
      </div>
    </div>
  </div>
  <!--popup portfolio-->
  <div class="popup-portfolio"  *ngIf="isPopupShowing">
    <div class="expand-icon" (click)="togleImage()">
      <img src="../../assets/portfolio/expand.png" alt="expand">
    </div>
    <div class="share-box">
      <img src="../../assets/portfolio/share.png" alt="share">
      <fb-like class="social-icons"></fb-like>
      <tweet class="social-icons"></tweet>
      <linkedin-share class="social-icons"></linkedin-share>
    </div>
    <img src="../../assets/portfolio/cross-out.png" alt="cancel" class="cancel" (click)="cancelPopup()">
    <div class="box-items">
      <div class="slider-container" [ngClass]="{'expand-image-box': imageIsShowing}">
        <div class="image" [ngStyle]="{'background-image': 'url(' + previewPortfolio?.media + ')'}"
             [ngClass]="{'expand-image': imageIsShowing}">
          <iframe *ngIf="toggleImageToVideo( previewPortfolio?.media)" class="video-popup" [src]="previewPortfolio?.media | safe"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="desc-box" [ngClass]="{'hide-desc-box': imageIsShowing}">
        <h1 class="title" [innerHtml]="previewPortfolio?.title"></h1>
        <p class="description" [innerHtml]="previewPortfolio?.description"></p>
        <p class="year" [innerHtml]="previewPortfolio?.year"></p>
      </div>
    </div>
  </div>
</div>
