<div class="container" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <div class="logo-box">
    <div class="image-logo">
      <div class="red-block">
        <div class="policy-img" (click)="policy = true"><p>privacy policy</p></div>
      </div>
      <img src="/src/assets/header/logo.png" alt="logo">
    </div>
    <div class="green-block">
      <div class="social-icons">
        <span><a href=""><div class="logo-icons pinterest-icon"></div></a></span>
        <span><a href=""><div class="logo-icons close-icon"></div></a></span>
        <span><a href=""><div class="logo-icons vimeo-icon"></div></a></span>
        <span><a href=""><div class="logo-icons tweeter-icon"></div></a></span>
        <span><a href=""><div class="logo-icons facebook-icon"></div></a></span>
        <span><a href=""><div class="logo-icons inst-icon"></div></a></span>
        <span><a href=""><div class="logo-icons in-icon"></div></a></span>
      </div>
    </div>
    <div class="pinkRowStart">
      <nav class="nav-desktop">
        <ul>
          <li><span>
            <a
              routerLinkActive="active"
              routerLink="/bio">bio</a></span>
          </li>
          <li><span><a
            routerLinkActive="active"
            routerLink="/text">text</a></span></li>
          <li><span>
            <a
              routerLinkActive="active"
              (click)="display = true"
            >work</a></span>
          </li>
          <li *ngIf="false"><span>
            <a
              [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="active"
              routerLink="/"></a></span>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <router-outlet #o="outlet"></router-outlet>
</div>

<p-sidebar [(visible)]="display"  position="bottom" styleClass="ui-sidebar-bottom">
  Content
  <div class="sidebar"></div>
</p-sidebar>

<p-sidebar [(visible)]="policy"  position="top"  [baseZIndex]="10000" styleClass="ui-sidebar-top">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam cumque et ex facere, facilis iure labore nostrum
    provident reiciendis reprehenderit repudiandae sit, tempora ullam vel, vero voluptate. Distinctio, veniam!</div>
</p-sidebar>

