.container {
  padding: 170px 487px 0 0;
  // Required that the duration of animation must be the same as NAVIGATION_DELAY (see in constant).
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: initial;
  overflow: hidden;

  &.fade-in {
    animation-name: bioAnimationIn;
  }
  &.fade-out {
    animation-name: bioAnimationOut;
  }

  .pink-row {
    width: 100%;
    background: #dca5c5;
    display: flex;
    padding-top: 51px;

    .empty-left-box {
      width: 100px;
      border-right: 2px solid #e7e5e4;
      background: #dca5c5;

    }

  }
  .opacity-row {
    width: 100%;
    display: flex;

    .empty-left-box {
      width: 100px;
      border-right: 2px solid #e7e5e4;
    }
  }

  @keyframes bioAnimationIn {
    from {
      max-height: 0;
    }
    to {
      max-height: 1000px;
    }
  }

  @keyframes bioAnimationOut {
    from {
      max-height: 1000px
    }
    to {
      max-height: 0;
    }
  }
  @media screen and(max-width: 1400px) {
    padding: 153px 407px 0 0;
    @media screen and(max-width: 800px) {
      padding: 120px 250px 0 0;
      @media screen and(max-width: 700px) {
        padding: 103px 86px 0 0;
      }
    }
  }
}

