<div class="container" [ngClass]="{'fade-in': isFadeIn, 'fade-out': isFadeOut}">
  <h1 class="title" [innerHtml]="textPageContent.title"></h1>
  <div
       class="top-img" >
    <iframe *ngIf="toggleImageToVideo(textPageContent.topMediaBlock)" width="100%" height="300"
            [src]="textPageContent.topMediaBlock | safe"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <div *ngIf="!toggleImageToVideo(textPageContent.topMediaBlock)" class="top-img" [ngStyle]="{'background-image': 'url(' + textPageContent.topMediaBlock + ')'}">

    </div>
  </div>
  <div class="desc-row" [innerHtml]="textPageContent.description">
  </div>
  <div class="bottom-img" [ngStyle]="{'background-image': 'url(' + textPageContent.bottomMediaBlock + ')'}">
    <iframe *ngIf="toggleImageToVideo(textPageContent.bottomMediaBlock)" width="100%" height="300"
            [src]="textPageContent.bottomMediaBlock | safe"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
</div>
